# S-Pen (Wacom WEZ01, wacom,w90xx) - shared by gts9wifi/gts9uwifi
# Same panel mount as the touchscreen: apply the same 90-degree matrix.
ACTION=="add|change", KERNEL=="event*", ATTRS{name}=="sec_e-pen", ENV{ID_INPUT_TABLET}="1", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1"
ACTION=="add|change", KERNEL=="event*", ATTRS{name}=="*Wacom*", ENV{ID_INPUT_TABLET}="1", ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1"
